body {
    font-family: Arial;
    background: #000;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    text-align: center;
    padding: 25px;
    background: #111;
    border-bottom: 2px solid #f1c40f;
}

h1 {
    color: #f1c40f;
    font-size: 30px;
    letter-spacing: 2px;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 35px;
}

.card {
    width: 220px;
    height: 160px;
    border-radius: 15px;
    background: linear-gradient(135deg, #222, #000);
    border: 2px solid #f1c40f;
    color: #f1c40f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.35s;
    box-shadow: 0px 0px 10px rgba(241, 196, 15, 0.3);
}

.card:hover {
    background: #f1c40f;
    color: #000;
    transform: scale(1.08);
    box-shadow: 0px 0px 20px rgba(241, 196, 15, 0.7);
}

.card h2 {
    margin-top: 10px;
    font-size: 20px;
}

.icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0 0 5px rgba(241, 196, 15, .6));
    transition: 0.3s;
}

.card:hover .icon {
    filter: drop-shadow(0 0 8px rgba(0,0,0,.7));
}
