.menu-icon {
    font-size: 28px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
}

.side-menu {
    width: 200px;
    height: 100%;
    background-color: #222;
    color: white;
    position: fixed;
    top: 0;
    left: -200px;
    padding-top: 60px;
    transition: 0.3s;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu a:hover {
    background-color: #444;
}

.side-menu.open {
    left: 0;
}