/* -------------------------------
   ANİMASYONLU HAMBURGER
---------------------------------*/
.menu-icon {
    width: 35px;
    height: 26px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

/* 3 çizgi */
.menu-icon .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    transition: 0.35s ease;
}

/* X animasyonu */
.menu-icon.open .bar1 {
    transform: translateY(10px) rotate(45deg);
}
.menu-icon.open .bar2 {
    opacity: 0;
}
.menu-icon.open .bar3 {
    transform: translateY(-10px) rotate(-45deg);
}

/* -------------------------------
   SIDE MENU
---------------------------------*/
.side-menu {
    width: 200px;
    height: 100%;
    background-color: #222;
    color: white;
    position: fixed;
    top: 0;
    left: -200px;
    padding-top: 60px;
    transition: left 0.3s ease;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu a:hover {
    background-color: #444;
}

.side-menu.open {
    left: 0;
}
